In [ ]:
# Add all preprocessing and regression functions to this notebook

In [3]:
import pandas as pd
import sklearn as sk

In [11]:
train = pd.read_csv('./data/bike_sharing_kaggle/bikeSharing.shuf.train.csv')
test = pd.read_csv('./data/bike_sharing_kaggle/bikeSharing.shuf.test.csv')
display(train)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>cnt</th>
      <th>dteday</th>
      <th>season</th>
      <th>yr</th>
      <th>mnth</th>
      <th>hr</th>
      <th>holiday</th>
      <th>weekday</th>
      <th>workingday</th>
      <th>weathersit</th>
      <th>temp</th>
      <th>atemp</th>
      <th>hum</th>
      <th>windspeed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>12601</td>
      <td>40</td>
      <td>2012-06-14</td>
      <td>2</td>
      <td>1</td>
      <td>6</td>
      <td>5</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>0.60</td>
      <td>0.6212</td>
      <td>0.56</td>
      <td>0.2537</td>
    </tr>
    <tr>
      <th>1</th>
      <td>12807</td>
      <td>362</td>
      <td>2012-06-22</td>
      <td>3</td>
      <td>1</td>
      <td>6</td>
      <td>19</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>0.76</td>
      <td>0.6970</td>
      <td>0.55</td>
      <td>0.5224</td>
    </tr>
    <tr>
      <th>2</th>
      <td>12039</td>
      <td>448</td>
      <td>2012-05-21</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>19</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.66</td>
      <td>0.6212</td>
      <td>0.69</td>
      <td>0.0896</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15863</td>
      <td>79</td>
      <td>2012-10-28</td>
      <td>4</td>
      <td>1</td>
      <td>10</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0.50</td>
      <td>0.4848</td>
      <td>0.63</td>
      <td>0.3284</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14925</td>
      <td>12</td>
      <td>2012-09-19</td>
      <td>3</td>
      <td>1</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0.54</td>
      <td>0.5152</td>
      <td>0.68</td>
      <td>0.2537</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2365</td>
      <td>46</td>
      <td>2011-04-13</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0.40</td>
      <td>0.4091</td>
      <td>0.87</td>
      <td>0.1940</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8112</td>
      <td>189</td>
      <td>2011-12-09</td>
      <td>4</td>
      <td>0</td>
      <td>12</td>
      <td>15</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>0.38</td>
      <td>0.3939</td>
      <td>0.46</td>
      <td>0.2836</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10857</td>
      <td>281</td>
      <td>2012-04-02</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>12</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.44</td>
      <td>0.4394</td>
      <td>0.44</td>
      <td>0.4478</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2142</td>
      <td>2</td>
      <td>2011-04-04</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.38</td>
      <td>0.3939</td>
      <td>0.66</td>
      <td>0.2537</td>
    </tr>
    <tr>
      <th>9</th>
      <td>13994</td>
      <td>23</td>
      <td>2012-08-11</td>
      <td>3</td>
      <td>1</td>
      <td>8</td>
      <td>6</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>0.62</td>
      <td>0.5606</td>
      <td>0.88</td>
      <td>0.1045</td>
    </tr>
    <tr>
      <th>10</th>
      <td>495</td>
      <td>83</td>
      <td>2011-01-22</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>16</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>0.12</td>
      <td>0.1364</td>
      <td>0.28</td>
      <td>0.1940</td>
    </tr>
    <tr>
      <th>11</th>
      <td>16807</td>
      <td>100</td>
      <td>2012-12-08</td>
      <td>4</td>
      <td>1</td>
      <td>12</td>
      <td>1</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>0.36</td>
      <td>0.3485</td>
      <td>0.93</td>
      <td>0.1343</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9814</td>
      <td>148</td>
      <td>2012-02-18</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>20</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>0.44</td>
      <td>0.4394</td>
      <td>0.44</td>
      <td>0.1642</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2293</td>
      <td>81</td>
      <td>2011-04-10</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0.38</td>
      <td>0.3939</td>
      <td>0.94</td>
      <td>0.1343</td>
    </tr>
    <tr>
      <th>14</th>
      <td>8926</td>
      <td>421</td>
      <td>2012-01-12</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>18</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0.44</td>
      <td>0.4394</td>
      <td>0.67</td>
      <td>0.1940</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1447</td>
      <td>190</td>
      <td>2011-03-05</td>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>13</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>0.46</td>
      <td>0.4545</td>
      <td>0.67</td>
      <td>0.2836</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16531</td>
      <td>210</td>
      <td>2012-11-26</td>
      <td>4</td>
      <td>1</td>
      <td>11</td>
      <td>12</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.42</td>
      <td>0.4242</td>
      <td>0.35</td>
      <td>0.1045</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2033</td>
      <td>98</td>
      <td>2011-03-30</td>
      <td>2</td>
      <td>0</td>
      <td>3</td>
      <td>13</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0.36</td>
      <td>0.3485</td>
      <td>0.46</td>
      <td>0.2239</td>
    </tr>
    <tr>
      <th>18</th>
      <td>13648</td>
      <td>354</td>
      <td>2012-07-27</td>
      <td>3</td>
      <td>1</td>
      <td>7</td>
      <td>20</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>0.78</td>
      <td>0.7424</td>
      <td>0.59</td>
      <td>0.1045</td>
    </tr>
    <tr>
      <th>19</th>
      <td>4998</td>
      <td>4</td>
      <td>2011-08-01</td>
      <td>3</td>
      <td>0</td>
      <td>8</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.70</td>
      <td>0.6667</td>
      <td>0.79</td>
      <td>0.1642</td>
    </tr>
    <tr>
      <th>20</th>
      <td>17218</td>
      <td>7</td>
      <td>2012-12-25</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
      <td>6</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0.22</td>
      <td>0.2273</td>
      <td>0.93</td>
      <td>0.1343</td>
    </tr>
    <tr>
      <th>21</th>
      <td>4083</td>
      <td>63</td>
      <td>2011-06-24</td>
      <td>3</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>0.68</td>
      <td>0.6364</td>
      <td>0.79</td>
      <td>0.1940</td>
    </tr>
    <tr>
      <th>22</th>
      <td>6912</td>
      <td>155</td>
      <td>2011-10-20</td>
      <td>4</td>
      <td>0</td>
      <td>10</td>
      <td>14</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>0.48</td>
      <td>0.4697</td>
      <td>0.48</td>
      <td>0.5522</td>
    </tr>
    <tr>
      <th>23</th>
      <td>6117</td>
      <td>249</td>
      <td>2011-09-17</td>
      <td>3</td>
      <td>0</td>
      <td>9</td>
      <td>10</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>0.50</td>
      <td>0.4848</td>
      <td>0.68</td>
      <td>0.2836</td>
    </tr>
    <tr>
      <th>24</th>
      <td>13788</td>
      <td>406</td>
      <td>2012-08-02</td>
      <td>3</td>
      <td>1</td>
      <td>8</td>
      <td>16</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0.82</td>
      <td>0.7576</td>
      <td>0.46</td>
      <td>0.1940</td>
    </tr>
    <tr>
      <th>25</th>
      <td>10959</td>
      <td>484</td>
      <td>2012-04-06</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>18</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>0.50</td>
      <td>0.4848</td>
      <td>0.22</td>
      <td>0.4627</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1012</td>
      <td>98</td>
      <td>2011-02-14</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>19</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.38</td>
      <td>0.3939</td>
      <td>0.43</td>
      <td>0.4925</td>
    </tr>
    <tr>
      <th>27</th>
      <td>7115</td>
      <td>18</td>
      <td>2011-10-29</td>
      <td>4</td>
      <td>0</td>
      <td>10</td>
      <td>1</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>3</td>
      <td>0.30</td>
      <td>0.2727</td>
      <td>0.87</td>
      <td>0.2985</td>
    </tr>
    <tr>
      <th>28</th>
      <td>5789</td>
      <td>388</td>
      <td>2011-09-03</td>
      <td>3</td>
      <td>0</td>
      <td>9</td>
      <td>15</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>0.72</td>
      <td>0.6818</td>
      <td>0.70</td>
      <td>0.1642</td>
    </tr>
    <tr>
      <th>29</th>
      <td>5746</td>
      <td>280</td>
      <td>2011-09-01</td>
      <td>3</td>
      <td>0</td>
      <td>9</td>
      <td>20</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0.66</td>
      <td>0.6212</td>
      <td>0.61</td>
      <td>0.2239</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>8660</th>
      <td>498</td>
      <td>59</td>
      <td>2011-01-22</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>19</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>0.08</td>
      <td>0.1061</td>
      <td>0.35</td>
      <td>0.1343</td>
    </tr>
    <tr>
      <th>8661</th>
      <td>4939</td>
      <td>233</td>
      <td>2011-07-29</td>
      <td>3</td>
      <td>0</td>
      <td>7</td>
      <td>16</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>0.96</td>
      <td>0.8636</td>
      <td>0.30</td>
      <td>0.3881</td>
    </tr>
    <tr>
      <th>8662</th>
      <td>8740</td>
      <td>32</td>
      <td>2012-01-04</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>23</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0.20</td>
      <td>0.2273</td>
      <td>0.44</td>
      <td>0.1045</td>
    </tr>
    <tr>
      <th>8663</th>
      <td>235</td>
      <td>3</td>
      <td>2011-01-11</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>0.14</td>
      <td>0.1515</td>
      <td>0.59</td>
      <td>0.1642</td>
    </tr>
    <tr>
      <th>8664</th>
      <td>10319</td>
      <td>69</td>
      <td>2012-03-11</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.26</td>
      <td>0.2879</td>
      <td>0.44</td>
      <td>0.0896</td>
    </tr>
    <tr>
      <th>8665</th>
      <td>12442</td>
      <td>265</td>
      <td>2012-06-07</td>
      <td>2</td>
      <td>1</td>
      <td>6</td>
      <td>14</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0.72</td>
      <td>0.6515</td>
      <td>0.37</td>
      <td>0.2537</td>
    </tr>
    <tr>
      <th>8666</th>
      <td>2413</td>
      <td>122</td>
      <td>2011-04-15</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>10</td>
      <td>1</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>0.50</td>
      <td>0.4848</td>
      <td>0.55</td>
      <td>0.1940</td>
    </tr>
    <tr>
      <th>8667</th>
      <td>9674</td>
      <td>9</td>
      <td>2012-02-13</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.14</td>
      <td>0.1364</td>
      <td>0.46</td>
      <td>0.2239</td>
    </tr>
    <tr>
      <th>8668</th>
      <td>3670</td>
      <td>407</td>
      <td>2011-06-06</td>
      <td>2</td>
      <td>0</td>
      <td>6</td>
      <td>19</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.72</td>
      <td>0.6667</td>
      <td>0.54</td>
      <td>0.1940</td>
    </tr>
    <tr>
      <th>8669</th>
      <td>15533</td>
      <td>223</td>
      <td>2012-10-14</td>
      <td>4</td>
      <td>1</td>
      <td>10</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0.48</td>
      <td>0.4697</td>
      <td>0.67</td>
      <td>0.2836</td>
    </tr>
    <tr>
      <th>8670</th>
      <td>7418</td>
      <td>73</td>
      <td>2011-11-10</td>
      <td>4</td>
      <td>0</td>
      <td>11</td>
      <td>16</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>3</td>
      <td>0.36</td>
      <td>0.3485</td>
      <td>0.81</td>
      <td>0.2239</td>
    </tr>
    <tr>
      <th>8671</th>
      <td>2238</td>
      <td>13</td>
      <td>2011-04-08</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>0.34</td>
      <td>0.3333</td>
      <td>0.76</td>
      <td>0.1642</td>
    </tr>
    <tr>
      <th>8672</th>
      <td>13942</td>
      <td>14</td>
      <td>2012-08-09</td>
      <td>3</td>
      <td>1</td>
      <td>8</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0.70</td>
      <td>0.6667</td>
      <td>0.84</td>
      <td>0.0896</td>
    </tr>
    <tr>
      <th>8673</th>
      <td>13370</td>
      <td>140</td>
      <td>2012-07-16</td>
      <td>3</td>
      <td>1</td>
      <td>7</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.68</td>
      <td>0.6364</td>
      <td>0.79</td>
      <td>0.1343</td>
    </tr>
    <tr>
      <th>8674</th>
      <td>16573</td>
      <td>136</td>
      <td>2012-11-28</td>
      <td>4</td>
      <td>1</td>
      <td>11</td>
      <td>6</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0.26</td>
      <td>0.2576</td>
      <td>0.65</td>
      <td>0.2239</td>
    </tr>
    <tr>
      <th>8675</th>
      <td>14387</td>
      <td>282</td>
      <td>2012-08-27</td>
      <td>3</td>
      <td>1</td>
      <td>8</td>
      <td>15</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.80</td>
      <td>0.7576</td>
      <td>0.55</td>
      <td>0.2985</td>
    </tr>
    <tr>
      <th>8676</th>
      <td>15677</td>
      <td>363</td>
      <td>2012-10-20</td>
      <td>4</td>
      <td>1</td>
      <td>10</td>
      <td>9</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>0.50</td>
      <td>0.4848</td>
      <td>0.59</td>
      <td>0.1343</td>
    </tr>
    <tr>
      <th>8677</th>
      <td>6603</td>
      <td>419</td>
      <td>2011-10-07</td>
      <td>4</td>
      <td>0</td>
      <td>10</td>
      <td>16</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>0.64</td>
      <td>0.6212</td>
      <td>0.44</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <th>8678</th>
      <td>6060</td>
      <td>20</td>
      <td>2011-09-15</td>
      <td>3</td>
      <td>0</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0.64</td>
      <td>0.6061</td>
      <td>0.69</td>
      <td>0.1642</td>
    </tr>
    <tr>
      <th>8679</th>
      <td>1538</td>
      <td>57</td>
      <td>2011-03-09</td>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>0.30</td>
      <td>0.2879</td>
      <td>0.75</td>
      <td>0.2537</td>
    </tr>
    <tr>
      <th>8680</th>
      <td>10507</td>
      <td>173</td>
      <td>2012-03-18</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>21</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.52</td>
      <td>0.5000</td>
      <td>0.72</td>
      <td>0.0896</td>
    </tr>
    <tr>
      <th>8681</th>
      <td>2333</td>
      <td>14</td>
      <td>2011-04-12</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>0.60</td>
      <td>0.6212</td>
      <td>0.53</td>
      <td>0.1343</td>
    </tr>
    <tr>
      <th>8682</th>
      <td>6227</td>
      <td>41</td>
      <td>2011-09-22</td>
      <td>3</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0.60</td>
      <td>0.5152</td>
      <td>0.94</td>
      <td>0.1045</td>
    </tr>
    <tr>
      <th>8683</th>
      <td>1105</td>
      <td>224</td>
      <td>2011-02-18</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>18</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>0.64</td>
      <td>0.6212</td>
      <td>0.33</td>
      <td>0.3284</td>
    </tr>
    <tr>
      <th>8684</th>
      <td>7162</td>
      <td>23</td>
      <td>2011-10-31</td>
      <td>4</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0.26</td>
      <td>0.3030</td>
      <td>0.87</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <th>8685</th>
      <td>3125</td>
      <td>50</td>
      <td>2011-05-15</td>
      <td>2</td>
      <td>0</td>
      <td>5</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0.52</td>
      <td>0.5000</td>
      <td>1.00</td>
      <td>0.1343</td>
    </tr>
    <tr>
      <th>8686</th>
      <td>8690</td>
      <td>66</td>
      <td>2012-01-02</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>21</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0.24</td>
      <td>0.2121</td>
      <td>0.41</td>
      <td>0.3284</td>
    </tr>
    <tr>
      <th>8687</th>
      <td>6768</td>
      <td>132</td>
      <td>2011-10-14</td>
      <td>4</td>
      <td>0</td>
      <td>10</td>
      <td>13</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>0.56</td>
      <td>0.5303</td>
      <td>0.73</td>
      <td>0.3582</td>
    </tr>
    <tr>
      <th>8688</th>
      <td>5806</td>
      <td>70</td>
      <td>2011-09-04</td>
      <td>3</td>
      <td>0</td>
      <td>9</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>